

	<script src="scripts/require.js"></script>
    
	<script>
		//var socket = io();
	
      var scene = null;       // The main Scene object
		function onLoad() {
         requirejs.config({
				baseUrl: './javascript',
				priority: [],
				paths: {
				}
			});

         require(['Scene'], function (Scene) {
			   canvas = document.getElementById('locationCanvas');
				var dim = Math.min(screen.availWidth, screen.availHeight) - 50;
				canvas.style.width = dim + "px";
				canvas.style.height = dim + "px";

				var output = document.getElementById('output');
				this.scene = new Scene(canvas, output);
          });     
		}

	</script>

	GPS TEST BODY!

	<div id='output'></div>
	<canvas id='locationCanvas' width=600 height=600></canvas>

