

	<script src="scripts/require.js"></script>
    
	<script>
		//var socket = io();
	
      var controller = null;       // The main Scene object
		function onLoad() {
         requirejs.config({
				baseUrl: './javascript',
				priority: [],
				paths: {
				}
			});

			require(['game-controller'], function (GameController) {
			   canvas = document.getElementById('locationCanvas');
				var dim = Math.min(screen.availWidth, screen.availHeight) - 50;
				canvas.style.width = dim + "px";
				canvas.style.height = dim + "px";

				var output = document.getElementById('output');
				this.controller = new GameController(canvas, output);
          });   
			 
		}

		function onAddFencepost() {
			this.scene.addFencepost();
		}

	</script>

	GPS TEST BODY!

	<div id='output'></div>
	<!--<input type='button' value='Add Fencepost' onclick='onAddFencepost();' />-->
	<canvas id='locationCanvas' width=600 height=600></canvas>

